.section--no-padding {
  padding-top: 0;
}

.works {
  display: flex;

  &__item:not(:last-child) {
    margin-right: 30px;
  }
}

.works__thumb {
  position: relative;
}

.works__box {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
}

.works__description {
  @extend %title;
  color: $second-accent-color;
  text-align: center;
}
