// Footer Block
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $primery-bgr-color;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__address-box,
.footer__social-box {
  margin-right: 70px;
}

// Address

.address {
  margin-top: 20px;
  color: $second-accent-color;
  font-style: normal;
  line-height: 1.71em;

  &__item:not(:first-child) {
    margin-top: 9px;
  }
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

// Social-link list
.social-box__title {
  @extend %title;
  color: $second-accent-color;
  margin-bottom: 20px;
}

// Form
.footer-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 570px;
}

.footer-form-field__title {
  @extend %title;
  display: block;
  margin-bottom: 20px;
  color: $second-accent-color;
}

.footer-form-field__input {
  height: 50px;
  width: 358px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;

  color: rgba(255, 255, 255, 0.6);

  &::placeholder {
    font-size: 16px;
    line-height: 1.25em;
    color: rgba(255, 255, 255, 0.6);
  }
}

.footer-form-field__button {
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.button {
  &__icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    fill: currentColor;
  }
}
