// Header block
.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
}

// Site-navigation
.navigation {
  display: flex;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: $title-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.navigation__link--current {
  color: $accent-color;
  position: relative;

  &::after {
    position: absolute;
    bottom: 0;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
  }
}

// Contacts

.contacts {
  display: flex;
  margin-left: auto;

  &__item:not(:last-child) {
    margin-right: 50px;
  }
}

.contacts__link {
  color: inherit;
  display: flex;
  align-items: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
  }
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}
