.projects {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-left: calc(-1 * #{$projects-gap});
  margin-bottom: calc(-1 * #{$projects-gap});
}

.projects__item {
  flex-basis: calc(100% / 3 - #{$projects-gap});
  margin-left: #{$projects-gap};
  margin-bottom: #{$projects-gap};
  border: 1px solid #eeeeee;
}

.projects__link {
  display: block;
  color: inherit;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.projects__wrap {
  position: relative;
  overflow: hidden;
}

.projects__thumb {
  position: absolute;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: $accent-color;
  opacity: 0;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .projects__link:hover &,
  .projects__link:focus & {
    opacity: 1;
    transform: translateY(-100%);
    outline: none;
  }
}

.projects__description {
  font-size: 18px;
  line-height: 1.56em;
  color: $second-accent-color;
}

.projects__label {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
}

.projects__title {
  color: $title-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 0.06em;
}

.projects__type-of-project {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.88em;
}
